#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
} 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Custom CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}
/* .product-showcase{
  height: 250px;
}
.product-showcase-large{
  height: 400px;
} */
.banner-cap{
  font-family: 'Montserrat', sans-serif;
}
.img-logo{
  object-fit: contain;
  width: 60px;
 
}
.banner-btn:hover{
  background: #fff !important;
}
.inner-con{
  position: relative;
}
.img-decription{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(251, 231, 47,0.8),rgba(251, 231, 47,0.5));
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  padding: auto 0;
  
}
.inner-con:hover .img-decription {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.svg-wrap{
  height: 12em;
}
.work-svg{
  cursor: pointer;
}